<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <ul>
          <li><%= link_to "Home", root_path, class: "grey-text text-lighten-3" %></li>
          <li><a class="grey-text text-lighten-3" href="#!">Termos & Condições</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Explorar</a></li>
          <li><%= link_to "Cadastrar", new_user_registration_path, class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Fazer Login", new_user_session_path, class: "grey-text text-lighten-3" %></li>
          <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <p class="white-text">Conheça as origens desse projeto</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright IUVO
    </div>
  </div>
</footer>
